body{
  background-color: #white;
}

div p, ul{
  font-family:helvetica;
  color: #6C0039;
}


#wrapper{
  height: 100%;
  width:100%;
  margin:0 auto;
}

#header{
  height:180px;

}

#logo{
  height:280px;
  float:left;
}

.title{
  float:left;
  font-style: italic;
  font-family: Times; cursive;
  font-size: 50px;
  color: #6C0039;
  position: absolute;;
  left: 270px;
  top: 60px;

}


#nav{
  width:800px;
  height:30px;
  padding: 10px;
  float: left;
  text-align: left;
  color:lightpink;
  position: absolute;
  left: 270px;
  top: 30px;


}

#nav a{
  text-transform:uppercase;
  font-size: 20px;
  font-family: times;
  color: #6C0039;
}

#socialmedia{
  margin: 10px 10% 10px 10%;
  padding: 30px;
  width: 150px;
  height: 500px;
  float:left;
  position: relative;
  right: 360px;
}

#fb{
  width: 50px;
  position: absolute;
  left: 70px;
  top: 100px;

}

#insta{
  width: 80px;
  position:absolute;
  left:55px;
  top: 160px;


}

#paracontent{
  position:absolute;
  text-align: left;
  left:300px;
}



#footer{
  background-color:#FFEEF7;
  padding: 40px;
  width:100%;
  height:30px;
  color:lightpink;
  clear:both;
  float:left;
  text-align:left;
  position: absolute;
  top:650px;
  color: #6C0039;

}

.about{
  position: relative;
  left: 50px;
}

.contact{
  position: relative;
  left: 100px;
}

a {
  color: #333;
  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}

a:hover {
  color: pink;
}
